
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 40px;
    background-color: rgb(120, 228, 213);
    margin: auto;
}

.main-header h2 {
    color: black;
    font-family: sans-serif;
}